
@{
    Layout = "~/Views/Shared/_LayoutAgentM.cshtml";
}


<script src="~/Scripts/datepicksk/DateUtil.js"></script>
<script src="~/Scripts/datepicksk/JSUtil.js"></script>
<script src="~/Scripts/datepicksk/webCalendar.js"></script>
<h2 style="margin-left: 10px;">Profit/Loss Report by Match</h2>

<div class="function-wrap">
    <ul class="input-list">
        <div id="statusCondition" style="">
            <li><label>Sports:</label></li>
            <li>
                <select name="betSport" id="betSport">
                    <option value="0">Select Sport</option>
                    @{ var hg = ViewBag.SpName;}
                    @{ var dr = ViewBag.SpId;}
                    @{int gy = 0; }
                    @foreach (var item in hg)
                    {
                        var CClasss = "";
                        if (dr[gy] == ViewBag.sport_id)
                        {
                            CClasss = "selected";
                        }

                        <option value="@dr[gy]" @CClasss> @item</option>
                        gy++;
                    }


                </select>
            </li>
        </div>
        <li><label>Period</label></li>
        <li>
            <input id="startDate" class="cal-input" type="text" placeholder="YYYY-MM-DD" onclick="calendarObj.show(event,'startDate');" value="" autocomplete="off">
            <input id="startTime" class="time-input " type="text" placeholder="09:00" maxlength="5">
            to
            <input id="endDate" class="cal-input" type="text" placeholder="YYYY-MM-DD" onclick="calendarObj.show(event,'endDate');" value="" autocomplete="off">
            <input id="endTime" class="time-input " type="text" placeholder="08:59" maxlength="5">
        </li>
        <li style="display: none;">(TimeZone:IST)</li>
    </ul>
    <ul class="input-list">
        <li><a id="today" href="#" class="btn" onclick="">Just For Today</a></li>

        <li style="display: ;"><a id="yesterday" href="#" class="btn" onclick="datebtcl(1)">From Yesterday</a></li>
        <li style="display: ;"><a id="last7days" href="#" class="btn" onclick="datebtcl(7)">Last 7 days</a></li>
        <li style="display: ;"><a id="last30days" href="#" class="btn" onclick="datebtcl(30)">Last 30 days</a></li>
        <li style="display: ;"><a id="last2months" href="#" class="btn" onclick="datebtcl(60)">Last 2 Months</a></li>
        <li style="display: ;"><a id="last3months" href="#" class="btn" onclick="datebtcl(90)">Last 3 Months</a></li>
        <li><a id="getPL" href="#" class="btn-send" onclick="GetHistory(@ViewBag.pageNumber,@ViewBag.sport_id)">Get History</a></li>
    </ul>
</div>

<!-- Start Report -->
<div id="report" style="">

    <table id="matchTable" class="table-s" style="display: table;width: 100%;">
        <tbody>
            <tr>
                <th style="text-align: center;width: 180px;">Date</th>
                <th style="text-align: center;">Description</th>
                <th style="text-align: center;width: 100px;">Total Profit Loss</th>
            </tr>

            @{Double cpl = 0;}
            @foreach (var item in Model)
            {
        <tr>
            <td style="text-align: center;">@item.created</td>
            <td style="text-align: center;">
                <a style="text-decoration: none;" href="/AgentM/MarketPLHistory?event_id=@item.event_id" target="_blank">@item.description</a>
            </td>
            @if (item.total_pl < 0)
            {
                cpl = -item.total_pl;
                <td style="text-align: center;font-weight:bold;"><span class="red">( @cpl)</span></td>
            }
            else
            {
                <td style="text-align: center;font-weight:bold;">@item.total_pl</td>
            }
        </tr>
            }
        </tbody>
    </table>


    <div>
        <ul style="display: none">
            <li id="prev"><a href="javascript:void(0);">Prev</a></li>
            <li id="next"><a href="javascript:void(0);">Next</a></li>
            <li id="pageNumber"><a href="javascript:void(0);"></a></li>
            <li id="more"><a href="javascript:void(0);">...</a></li>
        </ul>

        <input type="hidden" id="anydefst" value="@ViewBag.startDate" />
        <input type="hidden" id="anydefend" value="@ViewBag.endDate" />

        <ul id="pageNumberContent" class="pages">
            @{Double countpage = ViewBag.countbeth;}
            @{int page_num = Int32.Parse(ViewBag.pageNumber);}
            @{
                var prev_class = "";
                var next_class = "";
                var prev_point = "";
                var next_point = "";
                var prev_number = page_num - 1;
                var next_number = page_num + 1;
                int totalpage = (int)Math.Ceiling(countpage / 100);
            }
            @if (page_num == 1 || page_num == 0)
            {
                prev_class = "disable";
                prev_point = "pointer-events: none;";
            }
            @if (page_num == totalpage)
            {
                next_class = "disable";
                next_point = "pointer-events: none;";
            }
            <li id="prev"><a href="javascript:void(0);" class="@prev_class" style="@prev_point" onclick="GetHistory(@prev_number,@ViewBag.sport_id)">Prev</a></li>


            @for (var i = 1; i <= totalpage; i++)
            {
                if (page_num == i)
                {
                    <li id="pageNumber"><a href="javascript:void(0);" class="select" style="pointer-events: none;" onclick="GetHistory(@i,@ViewBag.sport_id)">@i</a></li>

                }
                else
                {
                    <li id="pageNumber"><a href="javascript:void(0);" onclick="GetHistory(@i,@ViewBag.sport_id)">@i</a></li>

                }
            }
            <li id="next"><a href="javascript:void(0);" class="@next_class" style="@next_point" onclick="GetHistory((@next_number,@ViewBag.sport_id)">Next</a></li>
        </ul>
    </div>

</div>
<script>
    function GetHistory(pageNumber, getSpID) {

        var betStatus = $("#betSport").val();
        var startDate = $("#startDate").val();
        var endDate = $("#endDate").val();
        window.location.href = '?sport_id=' + betStatus + '&startDate=' + startDate + '&endDate=' + endDate + '&pageNumber=' + pageNumber;
    }
</script>
<script language="javascript" type="text/javascript">
    calendarProperties.dateFormatStyle = "yyyy-MM-dd";
    calendarProperties.setI18n({ "form.text.transfer.weekly.weekNumber": "wk #", "calendar.text.month.1": "Jan", "calendar.text.month.2": "Feb", "calendar.text.month.3": "Mar", "calendar.text.month.4": "Apr", "calendar.text.month.5": "May", "calendar.text.month.6": "Jun", "calendar.text.month.7": "Jul", "calendar.text.month.8": "Aug", "calendar.text.month.9": "Sep", "calendar.text.month.10": "Oct", "calendar.text.month.11": "Nov", "calendar.text.month.12": "Dec", "form.text.transfer.weekly.0": "Sun", "form.text.transfer.weekly.1": "Mon", "form.text.transfer.weekly.2": "Tue", "form.text.transfer.weekly.3": "Wed", "form.text.transfer.weekly.4": "Thu", "form.text.transfer.weekly.5": "Fri", "form.text.transfer.weekly.6": "Sat", "calendar.form.text.Today": "Today", "calendar.form.text.Clear": "Clear", "calendar.form.text.Close": "Close" });
    var calendarObj = new Calendar();
</script>

<script language="JavaScript" type="text/javascript">
    var utc = new Date();
    var today = new Date().toJSON().slice(0, 10);
    var maxDay = new Date((new Date().setDate(new Date().getDate() + 1))).toJSON().slice(0, 10);
    var yesterday = new Date((new Date().setDate(new Date().getDate() - 1))).toJSON().slice(0, 10);
    var last7day = new Date((new Date().setDate(utc.getDate() - 7))).toJSON().slice(0, 10);
    var last15day = new Date((new Date().setDate(new Date().getDate() - 15))).toJSON().slice(0, 10);
    var last30day = new Date((new Date().setDate(new Date().getDate() - 30))).toJSON().slice(0, 10);
    var last2months = new Date((new Date().setDate(new Date().getDate() - 60))).toJSON().slice(0, 10);
    var last3months = new Date((new Date().setDate(new Date().getDate() - 90))).toJSON().slice(0, 10);
    var minDay = new Date((new Date().setDate(new Date().getDate() - 30))).toJSON().slice(0, 10);
    var anydefst = $("#anydefst").val();
    var anydefend = $("#anydefend").val();
    if (anydefst != "0" && anydefst != null && anydefend != "0" && anydefend != null) {
        datebtcl(99);
    }
    else {
        datebtcl(0);
    }
    function datebtcl(clickdat) {
        if (clickdat == "0") {
            $("#startDate").val(today);
            $("#endDate").val(maxDay);
        }
        else if (clickdat == "1") {
            $("#startDate").val(yesterday);
            $("#endDate").val(maxDay);
        }
        else if (clickdat == "7") {
            $("#startDate").val(last7day);
            $("#endDate").val(maxDay);
        }
        else if (clickdat == "15") {
            $("#startDate").val(last15day);
            $("#endDate").val(maxDay);
        }
        else if (clickdat == "30") {
            $("#startDate").val(last30day);
            $("#endDate").val(maxDay);
        }
        else if (clickdat == "60") {
            $("#startDate").val(last2months);
            $("#endDate").val(maxDay);
        }
        else if (clickdat == "90") {
            $("#startDate").val(last3months);
            $("#endDate").val(maxDay);
        }
        else if (clickdat == "99") {
            $("#startDate").val(anydefst.toString());
            $("#endDate").val(anydefend);
        }
    }
</script>



